@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"),
      url("../public/font/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}

.about_welcome {
    padding: 100px 0;
    display: inline-block;
    width: 100%;
}
.bottom_content {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.bottom_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 10px 0 !important;
}
.bottom_heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 371px;
}
.bottom_prag {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
    max-width: 372px;
    display: inline-block;
}
.landscape {
        grid-column-end: span 2;
}
.welcome_love {
    display: flex;
}
.loveimg2 {
    width: 100%;
}
.loveimg1 {
    align-self: center;
    justify-self: end;
    margin-top: 30%;
}
.loveimg3 {
    align-self: center;
    justify-self: start;
    margin-top: 30%;
}
/* Responsive start  */
@media only screen and (max-width: 1199px) {
    .loveimg1,.loveimg3{width: 100%;}
}
@media only screen and (max-width: 992px) {
    .about_welcome{ padding: 50px 0;}
    .bottom_heading{font-size: 27px;
        line-height: 30px;}
    .bottom_prag{font-size: 15px;}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
    .about_welcome{ padding: 30px 0;}
    .bottom_heading{font-size: 20px;}
    .bottom_content {display: table; margin: 0 auto; text-align: center;}
}
@media only screen and (max-width: 567px) {
    .bottom_heading{font-size: 15px;}
    .loveimg1,.loveimg3{margin-top: 0%;}
}