
@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"),
      url("../public/font/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}
.benefit_section {
    padding: 0 0 100px; 
    display: inline-block;
     width: 100%;
}
.benefit_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefit {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.benefit_heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 432px;
    margin: 15px auto;
}
/* .benefitimg {
    width: 100%;
    height: 320px;
} */
.content_heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}
.content_parg {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    max-width: 550px;
    color: #161722;
    opacity: 0.78;
}
.left_right_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.benifitContainer{
    margin: 0px 100px;
}

/* Responsive start  */
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 992px) {
    .benefit_section{ padding: 0 0 50px; }
    .benefit_heading{font-size: 40px; line-height: 50px; max-width: 412px;}
    .content_heading {font-size: 25px;}
    .benifitContainer{ margin: 0px 50px;}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
    .benefit_section{ padding: 0 0 30px;}
    .benefit_heading{font-size: 30px;
        line-height: 38px;
        max-width: 306px;margin: 10px auto;}
        .left_right_content{margin-top: 20px;}
        .benifitContainer{ margin: 0px 30px;}
}
@media only screen and (max-width: 567px) {
    .content_heading {font-size: 20px;}
    .content_parg{font-size: 15;}
    .benefit_heading{font-size: 20px; font-size: 20px;
    line-height: 30px;
    max-width: 200px;}
}