


.contact_bannerimg {
    width: 100%;
    height: 483px;
}
.contact_banner{
    position: relative;
}
.contact_banner_text {
    position: absolute;
    top: 50%;
    left: 12%;
}
.contact_info {
    padding: 100px 0;
    display: flex;
}
.formInput {
    width: 100%;
    display: block;
    margin: 10px 0;
    border: 0;
    padding: 20px 10px;
    border-radius: 4px;
    outline: none;
}
.formInput::placeholder ,.textarea::placeholder{
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Black */

color: #161722;

}
.textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    resize: none;
}
.contact_heading {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #1E1B1B;
    margin: 20px 0 !important;
}
.send_btn {
    background: #FFD2A4;
    border-radius: 12px;
    border: none;
    padding: 20px 10px;
    width: 100%;
    margin: 10px 0;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
}
/* .contact_form {
    display: flex;
} */
.contact_address_part {
    padding: 100px;
}
.add_title ,.detail_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1E1B1B;
    opacity: 0.7;
    margin: 10px 0;
}
.address {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}
.contact_number ,.contact_parg{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}
.contact_address {
    padding: 20px 0;
}
.social_icon {
    display: flex;
}


/* Responsive start  */
@media only screen and (max-width: 1199px) {
    
}
@media only screen and (max-width: 992px) {
    .contact_info{display: inline-block;}
    .contact_info{ padding: 50px 0;}
    
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
    .contact_info{ padding: 30px 0;}
    .contact_address_part{padding: 50px;}
    
}
@media only screen and (max-width: 567px) {
  
}