@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("../public/font/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
}
.event_section {
  padding: 0 0 100px;
  display: inline-block;
  width: 100%;
}
.event_col {
  margin-top: 50px;
}
.event_heading {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.date_month {
  display: grid;
  justify-content: end;
  text-align: center;
}
.event_date {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.event_month {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.event_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.cont_heading {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 10px 0 !important;
}
.event_parag {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  max-width: 214px;
  margin: 20px 0 !important;
}
.event_time,
.event_loaction {
  display: flex;
  padding: 10px 0;
}
.time_parag,
.location_parag {
  margin: 0px 11px !important;
  max-width: 160px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.event_cont {
  background: #fff5eb;
  padding: 30px;
}
.event_cont:hover {
  box-shadow: inset 0 -15px 0 #ffd0a0;
}
.main_cont {
  padding: 0 20px;
}


/* Responsive start  */
@media only screen and (max-width: 1199px) {
  .cont_heading{font-size: 20px;}
  }
  @media only screen and (max-width: 992px) {
    .cont_heading{font-size: 15px; line-height: 24px;}
    .event_cont{padding: 20px;}
    
  }
  @media only screen and (max-width: 768px) {
   
    .event_col {margin-top: 15px;}
  }
  @media only screen and (max-width: 767px) {
  }
  @media only screen and (max-width: 567px) {
    .event_parag{max-width: 100%;margin: 10px 0 !important;}
  }
  /* Responsive end  */